:root {
  --gray: #aaa;
  --output: #000;
}
button,
[type="reset"] {
  border: none;
  background-color: #333;
  color: #eee;
}
.filters {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  width: min(70%, 500px);
  min-height: 99vh;
  margin: 0 auto;
  background-color: #eee;
}
.filters__header {
  width: 100%;
  height: 8rem;
  background-color: var(--output);
}
.filters__nav {
  width: 70%;
  display: flex;
  justify-content: center;
}
.filters__nav > * {
  width: 50%;
  text-align: center;
}
.filters__section {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.7rem;
  width: 90%;
}
.filters__article {
  vertical-align: top;
  color: #333;
}
.filters__input {
  height: 1rem;
  width: 70%;
  background-color: var(--gray);
  border-radius: 0.5rem;
  appearance: none;
  -webkit-appearance: none;
}
.filters__input::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #0090de;
  border-radius: 50%;
  border: none;
}
.filters__span_data {
  display: inline-block;
  width: 50px;
}
.filters__footer {
  width: 90%;
}
#filterToCopy {
  width: 100%;
  height: 3rem;
  resize: none;
}
.filters__button{
  position: relative;
  padding: 0.2rem;
  width: 40%;
}
#copy.copied::after {
  content: "Copied";
  background-color: #009032;
  position: absolute;
  right: 1rem;
  padding: 0 0.2rem;
}